# SPDX-License-Identifier: AGPL-3.0-only
# SPDX-FileCopyrightText: 2024 Univention GmbH

---
kind: "ConfigMap"
apiVersion: "v1"
metadata:
  name: {{ printf "%s-common" (include "common.names.fullname" .) }}
  namespace: {{ include "common.names.namespace" . | quote }}
  labels:
    {{- include "common.labels.standard" ( dict "customLabels" .Values.additionalLabels "context" . ) | nindent 4 }}
  {{- include "nubus-common.annotations.render" ( dict
    "values" ( list .Values.additionalAnnotations )
    "context" . )
    | nindent 2 }}
data:
  LOG_LEVEL: {{ required ".Values.selfserviceListener.config.logLevel is required." .Values.selfserviceListener.config.logLevel | quote  }}
  MAX_UMC_REQUEST_RETRIES: {{ required ".Values.selfserviceListener.config.maxUmcRequestRetries is required." .Values.selfserviceListener.config.maxUmcRequestRetries | quote  }}
  PROVISIONING_API_BASE_URL: {{ tpl (required "The Provisioning API connection has to be configured, provisioningApi.connection.url." .Values.provisioningApi.connection.url) . | quote }}
  PROVISIONING_API_USERNAME: {{ tpl (required "A Provisioning API username is required, see parameter provisioningApi.auth.username" .Values.provisioningApi.auth.username) . | quote }}
  UMC_SERVER_URL: {{ tpl (
    required
      "The UMC connection has to be configured, see umc.connection.url."
      ( coalesce .Values.umc.connection.url ((.Values.global.umc).connection).url )
    ) . | quote }}
  MAX_ACKNOWLEDGEMENT_RETRIES: {{ required "The parameter \".Values.provisioningApi.config.maxAcknowledgementRetries\" is required." .Values.provisioningApi.config.maxAcknowledgementRetries | quote }}
