# SPDX-License-Identifier: AGPL-3.0-only
# SPDX-FileCopyrightText: 2024 Univention GmbH

---
kind: "ConfigMap"
apiVersion: "v1"
metadata:
  name: {{ printf "%s-common" (include "common.names.fullname" .) }}
  namespace: {{ include "common.names.namespace" . | quote }}
  labels:
    {{- include "common.labels.standard" . | nindent 4 }}
    {{- if .Values.additionalLabels }}
    {{- include "common.tplvalues.render" ( dict "value" .Values.additionalLabels "context" . ) | nindent 4 }}
    {{- end }}
  {{- if .Values.additionalAnnotations }}
  annotations: {{- include "common.tplvalues.render" ( dict "value" .Values.additionalAnnotations "context" . ) | nindent 4 }}
  {{- end }}
data:
  LOG_LEVEL: {{ required ".Values.selfserviceListener.config.logLevel is required." .Values.selfserviceListener.config.logLevel | quote  }}
  MAX_UMC_REQUEST_RETRIES: {{ required ".Values.selfserviceListener.config.maxUmcRequestRetries is required." .Values.selfserviceListener.config.maxUmcRequestRetries | quote  }}
  PROVISIONING_API_BASE_URL: {{ include "selfservice-listener.provisioningApi.connection.baseUrl" . | quote }}
  UMC_SERVER_URL: {{ include "selfservice-listener.umc.connection.baseUrl" . | quote }}
  PROVISIONING_API_USERNAME: {{ include "selfservice-listener.provisioningApi.auth.username" . | quote }}
  MAX_ACKNOWLEDGEMENT_RETRIES: {{ required "The parameter \".Values.provisioningApi.config.maxAcknowledgementRetries\" is required." .Values.provisioningApi.config.maxAcknowledgementRetries | quote }}
...
---
kind: "ConfigMap"
apiVersion: "v1"
metadata:
  name: {{ printf "%s-scripts" (include "common.names.fullname" .) }}
  namespace: {{ include "common.names.namespace" . | quote }}
  labels:
    {{- include "common.labels.standard" . | nindent 4 }}
    {{- if .Values.additionalLabels }}
    {{- include "common.tplvalues.render" ( dict "value" .Values.additionalLabels "context" . ) | nindent 4 }}
    {{- end }}
  {{- if .Values.additionalAnnotations }}
  annotations: {{- include "common.tplvalues.render" ( dict "value" .Values.additionalAnnotations "context" . ) | nindent 4 }}
  {{- end }}
data:
  wait-for-provisioning-api.sh: |
    set -uo pipefail

    retry_interval=2
    response_code=404
    timeout_duration=120
    end_time=$((SECONDS + timeout_duration))

    while [ "$response_code" -ne 200 ]; do
      if [ $SECONDS -ge $end_time ]; then
        echo "Timeout reached. Exiting."
        exit 1
      fi

      echo "Waiting for the Provisioning API to be available ..."
      response_code=$(curl -s -o response.txt -w "%{http_code}" "${PROVISIONING_API_BASE_URL}/subscriptions/v1/subscriptions/${PROVISIONING_API_USERNAME}" -u "${PROVISIONING_API_USERNAME}":"${PROVISIONING_API_PASSWORD}")
      if [ "${response_code}" -ne 200 ]; then
        echo "Provisioning API is not reachable, status code: $response_code"
        cat response.txt
        sleep ${retry_interval}
      else
        echo "The Provisioning API is reachable"
        exit 0
      fi
    done

    echo "Permanent error ocurred. Exiting."
    exit 1
...
