# SPDX-License-Identifier: AGPL-3.0-only
# SPDX-FileCopyrightText: 2024 Univention GmbH

---
kind: "ConfigMap"
apiVersion: "v1"
metadata:
  name: {{ printf "%s-common" (include "common.names.fullname" .) }}
  namespace: {{ include "common.names.namespace" . | quote }}
  labels:
    {{- include "common.labels.standard" . | nindent 4 }}
    {{- if .Values.additionalLabels }}
    {{- include "common.tplvalues.render" ( dict "value" .Values.additionalLabels "context" . ) | nindent 4 }}
    {{- end }}
  {{- if .Values.additionalAnnotations }}
  annotations: {{- include "common.tplvalues.render" ( dict "value" .Values.additionalAnnotations "context" . ) | nindent 4 }}
  {{- end }}
data:
  PROVISIONING_API_BASE_URL: {{ include "selfservice-listener.provisioningApi.connection.baseUrl" . | quote }}
  UMC_SERVER_URL: {{ include "selfservice-listener.umc.connection.baseUrl" . | quote }}
  UMC_ADMIN_USER: {{ include "selfservice-listener.umc.auth.username" . | quote }}
  PROVISIONING_API_USERNAME: {{ include "selfservice-listener.provisioningApi.auth.username" . | quote }}
...
