# SPDX-License-Identifier: AGPL-3.0-only
# SPDX-FileCopyrightText: 2024 Univention GmbH

---
{{ include "common.configMap" (dict "top" . "overrides" "selfservice-listener.configMap") }}

{{- define "selfservice-listener.configMap" }}
{{- with .top }}
data:
  DEBUG_LEVEL: "{{ .Values.selfserviceListener.debugLevel }}"
  ENVIRONMENT: "{{ .Values.selfserviceListener.environment }}"
  LDAP_BASE_DN: {{ include "selfserviceListener.ldapBaseDn" . | quote }}
  LDAP_PASSWORD_FILE: "{{ .Values.selfserviceListener.ldapSecretFile }}"
  LDAP_HOST: {{ include "selfserviceListener.ldap.connection.host" . | quote}}
  LDAP_HOST_DN: {{ include "selfserviceListener.ldapAdminDn" . | quote }}
  LDAP_PORT: {{ include "selfserviceListener.ldap.connection.port" . | quote }}
  NOTIFIER_SERVER: {{ include "selfserviceListener.notifierServer" . | quote }}
  CA_CERT: "{{ .Values.selfserviceListener.caCert }}"
  CA_CERT_FILE: "{{ .Values.selfserviceListener.caCertFile }}"
  TLS_MODE: "{{ .Values.selfserviceListener.tlsMode }}"
  UMC_SERVER_URL: {{ include "selfserviceLister.umcServerUrl" . | quote }}
  UMC_ADMIN_USER: "{{ .Values.selfserviceListener.umcAdminUser }}"
  wait-for-ldap.sh: |
    #!/bin/bash
    set -euxo pipefail

    while ! ldapsearch -H ldap://$LDAP_HOST -D $LDAP_HOST_DN -y $LDAP_PASSWORD_FILE -b "" -s base -LLL; do
      echo "Checking if LDAP Server can be reached..."
      sleep 2
    done

    echo "Success, the LDAP Server is available"
{{ end }}
{{ end }}
...
