# SPDX-License-Identifier: AGPL-3.0-only
# SPDX-FileCopyrightText: 2023-2024 Univention GmbH

---
{{ include "common.secret" (dict "top" . "overrides" "selfserviceListener.secret") }}

{{- define "selfserviceListener.secret" }}
{{- with .top }}
data:
{{- if .Values.global.nubusDeployment }}
  ldap_secret: ""
{{- else }}
  ldap_secret: {{ required "The parameter \"selfserviceListener.ldapSecret\" is required." .Values.selfserviceListener.ldapSecret | b64enc | quote }}
{{- end }}
  ca_cert: {{ .Values.selfserviceListener.caCert | quote }}
  cert_pem: {{ .Values.selfserviceListener.certPem | quote }}
{{- end }}
{{- end -}}
