# SPDX-FileCopyrightText: 2023 Univention GmbH
# SPDX-License-Identifier: AGPL-3.0-only
---
# The global properties are used to configure multiple charts at once.
global:
  # -- Indicates wether this chart is part of a Nubus deployment.
  nubusDeployment: false
  # -- Container registry address.
  imageRegistry: "artifacts.software-univention.de"
  # -- Credentials to fetch images from private registry
  # Ref: https://kubernetes.io/docs/tasks/configure-pod-container/pull-image-private-registry/
  #
  # imagePullSecrets:
  #   - "docker-registry"
  #
  imagePullSecrets: []
  # -- Define an ImagePullPolicy.
  #
  # Ref.: https://kubernetes.io/docs/concepts/containers/images/#image-pull-policy
  #
  # "IfNotPresent" => The image is pulled only if it is not already present locally.
  # "Always" => Every time the kubelet launches a container, the kubelet queries the container image registry to
  #             resolve the name to an image digest. If the kubelet has a container image with that exact digest cached
  #             locally, the kubelet uses its cached image; otherwise, the kubelet pulls the image with the resolved
  #             digest, and uses that image to launch the container.
  # "Never" => The kubelet does not try fetching the image. If the image is somehow already present locally, the
  #            kubelet attempts to start the container; otherwise, startup fails.
  imagePullPolicy: null

## Global values
affinity: {}
environment: {}
fullnameOverride: ""
nameOverride: ""
nodeSelector: {}
podAnnotations: {}
podSecurityContext: {}
replicaCount: 1
securityContext: {}
tolerations: []

# Container image configuration
image:
  # -- Container registry address. This setting has higher precedence than global.registry.
  registry: ""
  # -- The path to the container image.
  repository: "nubus-dev/images/selfservice-invitation"
  # -- The pull policy of the container image.  This setting has higher precedence than global.imagePullPolicy.
  pullPolicy: ""
  # -- The tag of the container image. (This is replaced with an appropriate value during the build process of the Helm chart.)
  tag: "latest"

waitForDependency:
  image:
    registry: ""
    pullPolicy: ""
    repository: "nubus/images/wait-for-dependency"
    tag: "0.35.27@sha256:3f9f37e224a7a8e268ee2cdf1ca8d18826d2d0d5b356a2a5a3cbfa4968a2a281"

# -- Optionally specify a secret to create (primarily intended to be used in development environments to provide custom certificates)
extraEnvVars: []

# -- Optionally specify a secret to create (primarily intended to be used in development environments to provide custom certificates)
extraSecrets: []

# Service account to use.
# Ref.: https://kubernetes.io/docs/tasks/configure-pod-container/configure-service-account/
serviceAccount:
  # Specifies whether a service account should be created
  create: true
  # Annotations to add to the service account
  annotations: {}
  # The name of the service account to use.
  # If not set and create is true, a name is generated using the fullname template
  name: ""
  ## @param serviceAccount.automountServiceAccountToken Allows auto mount of ServiceAccountToken on the serviceAccount created
  ## Can be set to false if pods using this serviceAccount do not need to use K8s API
  ##
  automountServiceAccountToken: false
  # -- Additional custom labels for the ServiceAccount.
  labels: {}


# Security Context.
# Ref: https://kubernetes.io/docs/tasks/configure-pod-container/security-context/
containerSecurityContext:
  privileged: false
  # -- Enable container privileged escalation.
  allowPrivilegeEscalation: false
  # -- Security capabilities for container.
  capabilities:
    drop:
      - "ALL"
  # -- Enable security context.
  enabled: true
  # -- Process user id.
  runAsUser: 1000
  # -- Process group id.
  runAsGroup: 1000
  # Set Seccomp profile.
  seccompProfile:
    # -- Disallow custom Seccomp profile by setting it to RuntimeDefault.
    type: "RuntimeDefault"
  # -- Mounts the container's root filesystem as read-only.
  readOnlyRootFilesystem: true
  # -- Run container as a user.
  runAsNonRoot: true

selfserviceListener:
  config:
    # -- Log level for the selfservice listener.
    # valid values are: ERROR WARNING, INFO, DEBUG
    logLevel: "INFO"
    # Configure how often sending the invitation email is retried before the Pod fails.
    # After a pod restart the message will still be retried again.
    # valid values are: integers between 0 and 10
    maxUmcRequestRetries: 5

# Configuration for the communication with the UMC.
umc:
  # -- Connection parameters
  connection:
    # -- The base URL the UMC is reachable at. (e.g. "https://umc-server")
    url: ""

# Configuration for the communication with the provisioning API.
provisioningApi:
  config:
    # -- The maximum number of retries for acknowledging a message
    maxAcknowledgementRetries: 3
  # -- Connection parameters
  connection:
    # -- The base URL the provisioning API is reachable at. (e.g. "https://provisioning-api")
    url: ""
  # -- Authentication parameters
  auth:
    # -- The username to authenticate with.
    username: "selfservice"
    # -- The password to authenticate with.
    password: null
    # -- The name of the secret containing the password.
    existingSecret:
      name: null
      keyMapping:
        password: null

livenessProbe:
  # -- Number of failed executions until container is terminated.
  failureThreshold: 10
  # -- Delay after container start until LivenessProbe is executed.
  initialDelaySeconds: 15
  # -- Time between probe executions.
  periodSeconds: 20
  # -- Number of successful executions after failed ones until container is marked healthy.
  successThreshold: 1
  # -- Timeout for command return.
  timeoutSeconds: 5
  exec:
    command:
      - sh
      - -c
      - |
        exit 0

readinessProbe:
  # -- Number of failed executions until container is terminated.
  failureThreshold: 10
  # -- Delay after container start until ReadinessProbe is executed.
  initialDelaySeconds: 15
  # -- Time between probe executions.
  periodSeconds: 20
  # -- Number of successful executions after failed ones until container is marked healthy.
  successThreshold: 1
  # -- Timeout for command return.
  timeoutSeconds: 5
  exec:
    command:
      - sh
      - -c
      - |
        exit 0

resources: {}

# -- Custom resource requests and limits for the init containers.
initResources: {}
