# SPDX-License-Identifier: AGPL-3.0-only
# SPDX-FileCopyrightText: 2024 Univention GmbH
---

imagePullSecrets:
  - "kyverno-test"
replicaCount: 42

global:
  imageRegistry: "my_private_registry.domain.tld"
  imagePullSecrets:
    - "kyverno-test"
  imagePullPolicy: "kyverno"

resources:
  limits:
    memory: "1Gi"
  requests:
    cpu: "250m"
    memory: "512Mi"

resourcesWaitForDependency:
  limits:
    memory: "1Gi"
  requests:
    cpu: "250m"
    memory: "512Mi"

...
